/* General Styles */

img {
  padding: 0px 0px 15px 15px;
}

/* Search container */
#search-container {
    margin-top: 50px;
    padding: 30px;
    border: 2px solid red
};


/* Advanced search dropdown */
.accordion>.card>.card-header {
    background-color: darkslategray;
}

#advanced-search-dropdown {
    margin-top: 50px;
    margin-bottom: 50px;
}


/* Autocomplete Pokemon Search */
* { box-sizing: border-box; }

.autocomplete {
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}