.result-rows {
  margin: 30px 0px 0px 0px;
  padding: 0px 0px 30px 0px;
  border-bottom: 2px solid rgba(187, 187, 187, 0.555);
}

.card-images {
  /* card image and set symbol need to be percentage-sized */
  max-height: 330px;
  max-width: 240px;
  float: left;
  clear: both;
}

/* .result-div {
  border: 1px black solid;
} */

.result-info {
  font-size: large;
  /* border: 1px black solid; */
}

.set-symbol {
  max-width: 24px;
  max-height: 24px;
  margin: 0px 7px 0px 7px;
}

/* .details-button {
  max-width: 150px;
  max-height: 50px;
} */

.card-name {
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 5px;
}

hr.solid {
  border-top: 3px solid #bbb;
}

.result-section-title {
  font-size: 12px;
  color: green;
  margin-bottom: 1px;
}