.card-images {
  /* float: left;
    clear: both; */
  max-height: 330px;
  max-width: 240px;
}

.card-name {
  font-weight: bold;
  font-size: large;
}

.set-symbol {
  max-width: 25px;
  max-height: 25px;
  margin: 0px 7px 0px 7px;
}

.set-and-rarity {
  background: rgb(255, 188, 0);
  background: linear-gradient(
    325deg,
    rgba(255, 188, 0, 1) 0%,
    rgba(246, 255, 226, 1) 50%,
    rgba(255, 188, 0, 1) 100%
  );
  width: 80%;
  margin-top: 5px;
  margin-left: 10%;
  font-weight: bold;
}

.summary-prices {
  border-left: black 1px solid;
  margin-left: 10px;
  padding-left: 10px;
}

.summary-position {
  text-align: center;
  border: 10px solid gold;
  border-radius: 15px;
  margin-bottom: 50px;
  width: 75%;
}

.separater {
  width: 80%;
}

p {
  font-family: "Gill Sans Condensed", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  /* font-weight: bold; */
}

@media only screen and (max-device-width: 1530px) {
    .summary-position {
      min-width: 280px;
    }
  }

@media only screen and (max-device-width: 1440px) {
  .summary-position {
    width: 100%;
  }
}

@media only screen and (max-device-width: 1220px) {
  .card-images {
    max-height: 290px;
    max-width: 200px;
  }
}

/* margin-bottom: 0px;
font-weight: bolder;
text-align: left;
margin-left: 14%;
font-size: small; */