.result-rows {
  margin: 30px 0px 0px 0px;
  padding: 0px 0px 30px 0px;
  border-bottom: 3px solid rgba(187, 187, 187, 0.555);
}

/* .result-img-div {
  float: left;
  clear: left;
  display: flex;
  justify-content: center;
} */

/* .result-info {

} */

.card-images-test {
  /* card image and set symbol need to be percentage-sized */
  max-height: 330px;
  max-width: 240px;
}

.set-symbol-test {
  max-width: 50px;
  max-height: 50px;
  margin: 0px 7px 0px 7px;
}

.details-button {
  max-width: 150px;
  max-height: 50px;
}

.card-name-test {
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 5px;
}

hr.solid {
  border-top: 3px solid #bbb;
}

/* .set-and-rarity {
    background: rgb(255, 188, 0);
    background: linear-gradient(
      325deg,
      rgba(255, 188, 0, 1) 0%,
      rgba(246, 255, 226, 1) 50%,
      rgba(255, 188, 0, 1) 100%
    );
    width: 80%;
    margin-top: 5px;
    margin-left: 10%;
    font-weight: bold;
  }
  
  .summary-prices {
    border-left: black 1px solid;
    margin-left: 10px;
    padding-left: 10px;
  }
  
  .summary-position {
    text-align: center;
    border: 10px solid gold;
    border-radius: 15px;
    margin-bottom: 50px;
    width: 75%;
  }
  
  .separater {
    width: 80%;
  } */

/* p {
    font-family: "Gill Sans Condensed", "Gill Sans", "Gill Sans MT", Calibri,
      "Trebuchet MS", sans-serif;
    font-weight: bold;
  }
  
  @media only screen and (min-width: 576px) {
    .col-sm-3 {
      max-width: 100%;
    }
  }
  
  @media only screen and (max-device-width: 1530px) {
    .summary-position {
      min-width: 280px;
    }
  }
  
  @media only screen and (max-device-width: 1440px) {
    .summary-position {
      width: 100%;
      margin-left: 7%;
    }
  }
  
  @media only screen and (max-device-width: 1220px) {
    .card-images {
      max-height: 290px;
      max-width: 200px;
    }
  
    .card-name {
      font-weight: bold;
      font-size: large;
      margin-bottom: 5px;
      padding-right: 10%;
    }
  
    .set-and-rarity {
        font-size: small;
    }
  } */

/* margin-bottom: 0px;
  font-weight: bolder;
  text-align: left;
  margin-left: 14%;
  font-size: small; */
