.jumbotron {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#enter-button {
    margin-left: 40%;
  }

@media only screen and (max-device-width: 768px) {
  #home-logo {
    width: 300px;
    height: 70px;
  }
  #enter-button {
    margin-left: 35%;
  }
}

@media only screen and (max-device-width: 425px) {
  #home-logo {
    width: 225px;
    height: 50px;
  }
  #enter-button {
    margin-left: 31%;
  }
}
